@{
    ViewData["Title"] = "Home Page";
}

    @foreach (var country in Model)
    {
        <div style='background=url(@country.urlImagen)'>
            <p>@country.capitalCountry</p>
            <p>@country.countryName</p>
        </div>
    }
    
    
    
</div>
